In [504]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['74_transactions_deposit.csv', '10_transactions_deposit.csv']

In [505]:
mary_df = pd.read_csv('../input/10_transactions_deposit.csv')
zeyang_df = pd.read_csv('../input/74_transactions_deposit.csv')

In [506]:
mary_df.head(3)

                          transactionId                    ...                                                referenceNumber
0  d1911856-60cc-48fb-aac7-f4cb2be6efba                    ...                                                297899874 BONES
1  6aa118cc-9e11-46ce-a420-d3197e1390e8                    ...                      874670509 BANK FAST TRANSFER TO 415967364
2  95cfe565-245e-448c-82af-7c4f03b2f36a                    ...                                  726075647 ATM CASH WTIHDRAWAL

[3 rows x 7 columns]

In [507]:
zeyang_df.head(3)

                          transactionId              ...                              referenceNumber
0  119973fe-7d7b-494b-86cf-872c34b6780c              ...                789010165 FAST-TREK TRANSPORT
1  b7974ee5-6554-4aa4-b714-852d3d96a919              ...                      500487003 LITTLE PERSIA
2  3c7d2213-bd27-4415-900f-e21e5678a616              ...                  258007422 JACK RIDE HAILING

[3 rows x 7 columns]

In [508]:
for index, row in mary_df.iterrows():
    if row['type'] == 'DEBIT':
        mary_df.ix[index, 'new_amount'] = float(mary_df.iloc[index]['amount']*-1)
    else:
        mary_df.ix[index, 'new_amount'] = float(mary_df.iloc[index]['amount'])
        
for index, row in zeyang_df.iterrows():
    if row['type'] == 'DEBIT':
        zeyang_df.ix[index, 'new_amount'] = float(zeyang_df.iloc[index]['amount']*-1)
    else:
        zeyang_df.ix[index, 'new_amount'] = float(zeyang_df.iloc[index]['amount'])

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:3: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:5: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:9: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  if __name__ == '__main__':
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:11: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  # This is added back by InteractiveShellApp.init_path()

In [509]:
mary_df.head(3)

                          transactionId     ...      new_amount
0  d1911856-60cc-48fb-aac7-f4cb2be6efba     ...          -16.41
1  6aa118cc-9e11-46ce-a420-d3197e1390e8     ...          -21.31
2  95cfe565-245e-448c-82af-7c4f03b2f36a     ...          -50.00

[3 rows x 8 columns]

In [510]:
zeyang_df.head()

                          transactionId     ...      new_amount
0  119973fe-7d7b-494b-86cf-872c34b6780c     ...          -12.90
1  b7974ee5-6554-4aa4-b714-852d3d96a919     ...          -24.43
2  3c7d2213-bd27-4415-900f-e21e5678a616     ...          -13.95
3  928acbed-ba64-418c-af34-36e1dffbe281     ...          -10.32
4  6b72ab24-2cad-4c9e-a77f-c1c23b8f2588     ...          -27.47

[5 rows x 8 columns]

In [511]:
mary_df = mary_df.drop(['amount', 'type'], axis=1)
zeyang_df = zeyang_df.drop(['amount', 'type'], axis=1)

In [512]:
int(zeyang_df.loc[500, 'date'].split('-')[1])

11

In [513]:
for index, row in zeyang_df.iterrows():
    zeyang_df.loc[index, 'Year'] = int(zeyang_df.loc[index, 'date'].split('-')[0])
    zeyang_df.loc[index, 'Month'] = int(zeyang_df.loc[index, 'date'].split('-')[1])
    
for index, row in mary_df.iterrows():
    mary_df.loc[index, 'Year'] = int(mary_df.loc[index, 'date'].split('-')[0])
    mary_df.loc[index, 'Month'] = int(mary_df.loc[index, 'date'].split('-')[1])

In [514]:
zeyang_df.head(300)

                            transactionId  accountId  ...     Year Month
0    119973fe-7d7b-494b-86cf-872c34b6780c         74  ...   2018.0   1.0
1    b7974ee5-6554-4aa4-b714-852d3d96a919         74  ...   2018.0   1.0
2    3c7d2213-bd27-4415-900f-e21e5678a616         74  ...   2018.0   1.0
3    928acbed-ba64-418c-af34-36e1dffbe281         74  ...   2018.0   1.0
4    6b72ab24-2cad-4c9e-a77f-c1c23b8f2588         74  ...   2018.0   1.0
5    7f99a759-5b8e-42ab-9c6f-a27e50aa6567         74  ...   2018.0   1.0
6    f3a01c47-9512-4a74-929b-dd175a09b2e4         74  ...   2018.0   1.0
7    8a06d116-2288-4e85-8c04-b80ebb70e4ff         74  ...   2018.0   1.0
8    0dced0f4-6feb-4705-b82e-662d105ce746         74  ...   2018.0   1.0
9    0a4725d2-c88a-4bde-8c82-129dba2adef3         74  ...   2018.0   1.0
10   ba6deee2-ac8a-4abc-ab03-f7292f47d539         74  ...   2018.0   1.0
11   8e1b6bf7-4453-4721-bf14-1f918da91471         74  ...   2018.0   1.0
12   e3871c23-c818-438a-9b8b-32a19f1bdcc1         74  ...   2018.0   1.0
13   75afc7d8-9e25-408f-afa3-45c7c86b2f28         74  ...   2018.0   1.0
14   5d1c3a57-ae01-4f6b-bafd-805f5c4c75f9         74  ...   2018.0   1.0
15   d315be89-6912-4338-9f04-ec65fbecf07b         74  ...   2018.0   1.0
16   1ae8d5ed-33ac-4611-bfe4-fe9632894ee5         74  ...   2018.0   1.0
17   f41864a3-c850-4f2f-a3f7-2d104a82e58c         74  ...   2018.0   1.0
18   0eb678b1-3786-4fe2-9e7a-b2bd2e60b91b         74  ...   2018.0   1.0
19   125254a5-c8ba-4c94-8419-c851550e60e9         74  ...   2018.0   1.0
20   6ae42bbc-04ed-48da-8dc7-4423bc0dada5         74  ...   2018.0   1.0
21   8305bbea-5d4e-4c62-99f5-bd30afea549a         74  ...   2018.0   1.0
22   ab078b0c-7d51-4e0e-9f3a-e816506308c1         74  ...   2018.0   1.0
23   56f8f567-6492-433d-8e42-663a34e1415d         74  ...   2018.0   1.0
24   3af99b04-835a-4ae1-b0e7-ea92aaa817f2         74  ...   2018.0   1.0
25   25405354-e21d-49a1-8a40-0beaea5f3310         74  ...   2018.0   1.0
26   4ded61da-218b-4645-b4a0-2132d3792af6         74  ...   2018.0   1.0
27   5cf53ba3-74e4-47c9-b98b-709be81c51ca         74  ...   2018.0   1.0
28   bdd9d2cb-3739-4eb4-bbf0-e26edb386ae9         74  ...   2018.0   1.0
29   00cbbe31-8cb7-49c2-a893-06b0832465fa         74  ...   2018.0   1.0
..                                    ...        ...  ...      ...   ...
270  892ff713-b358-4092-93eb-2aa18925bc38         74  ...   2018.0   6.0
271  cace9378-3e8e-46a0-913a-9d6f67231e0c         74  ...   2018.0   6.0
272  7f5035ac-16e0-4a92-9271-6f4e326b746a         74  ...   2018.0   6.0
273  77841ca0-6565-46fc-a8b5-b9c57e7c69e8         74  ...   2018.0   6.0
274  5176c3ee-f6e6-4736-a900-0f4f84a2a00a         74  ...   2018.0   6.0
275  9e15ee0f-a440-4738-aea3-e91ffc91f8fd         74  ...   2018.0   6.0
276  ecb162df-d22a-40c7-acc2-256a4980c4cd         74  ...   2018.0   6.0
277  ea7500e7-45ce-4c99-ad1a-ec95afab429a         74  ...   2018.0   6.0
278  08741f9e-4ab6-4e05-8c66-18445653f5ba         74  ...   2018.0   6.0
279  2d7a5514-bcc6-46ff-abd3-eac53a6bc652         74  ...   2018.0   6.0
280  1b164be2-0df7-426c-a591-dcf14c8249f5         74  ...   2018.0   6.0
281  1e3dcc6c-63e9-4ca2-8c0e-28005b1bc429         74  ...   2018.0   6.0
282  46644c68-d334-4593-a39e-61d9c4c86fb0         74  ...   2018.0   6.0
283  ea0469f2-aa4a-49e9-b929-3514a8e4cd31         74  ...   2018.0   6.0
284  ac813f84-658a-4eb7-b9ef-392692382b2e         74  ...   2018.0   6.0
285  eafdb811-4bf5-40ed-9c6f-406dadcbe586         74  ...   2018.0   6.0
286  794ef5e6-8f81-4df6-b32a-c2c4292e7351         74  ...   2018.0   7.0
287  60aa5d52-418d-480e-930f-fca552838021         74  ...   2018.0   7.0
288  0ab95f0d-baac-4979-910c-7db29f14850d         74  ...   2018.0   7.0
289  d4c73db0-cd9d-4504-81ea-cf4cf7c7e6d7         74  ...   2018.0   7.0
290  39e2a071-58dd-433c-b674-00522533a084         74  ...   2018.0   7.0
291  2e27d0ca-3787-4961-8b9d-49d57e22cd05         74  ...   2018.0   7.0
292  ef52d015-d998-425e-9ed8-6cf6d6448edd         74  ...   2018.0   7.0
293  4185b90e-d3f6-46a3-ac65-57b21842e32f         74  ...   2018.0   7.0
294  8e11c19e-58cc-4ace-9c08-c4321bc25c4f         74  ...   2018.0   7.0
295  d6fcf94d-b12a-4626-894b-4be00986f8cd         74  ...   2018.0   7.0
296  c10aa77b-8073-46f8-bf14-94470f836520         74  ...   2018.0   7.0
297  2fc69c18-3e53-40d6-a7c7-dfbcbd3abb35         74  ...   2018.0   7.0
298  0e154b78-d52e-4500-9ff5-19a891825b29         74  ...   2018.0   7.0
299  8ebd875a-995f-40d1-af51-a9a41ccb4067         74  ...   2018.0   7.0

[300 rows x 8 columns]

In [515]:
zeyang_df.loc[0, 'referenceNumber'].split(' ',1)

['789010165', 'FAST-TREK TRANSPORT']

In [516]:
zeyang_df.insert(0, 'Company', 0)

In [517]:
for index, row in zeyang_df.iterrows():
    zeyang_df.loc[index, 'Company'] = zeyang_df.loc[index, 'referenceNumber'].split(' ',1)[1]
    
for index, row in mary_df.iterrows():
    mary_df.loc[index, 'Company'] = mary_df.loc[index, 'referenceNumber'].split(' ',1)[1]

In [518]:
mary_df = mary_df.drop(['date','referenceNumber'], axis=1)
zeyang_df = zeyang_df.drop(['date','referenceNumber'], axis=1)

In [519]:
mary_df.head(300)

                            transactionId                ...                                            Company
0    d1911856-60cc-48fb-aac7-f4cb2be6efba                ...                                              BONES
1    6aa118cc-9e11-46ce-a420-d3197e1390e8                ...                    BANK FAST TRANSFER TO 415967364
2    95cfe565-245e-448c-82af-7c4f03b2f36a                ...                                ATM CASH WTIHDRAWAL
3    8d02bd2b-9e84-4649-903a-2c20abc957cf                ...                                THE VANILLA ORCHARD
4    808c71cc-f42d-46d2-b7cc-00209260c644                ...                    BANK FAST TRANSFER TO 951547718
5    4e89d4ec-df99-455a-b7c9-8f4240f71a72                ...                  BANK FAST TRANSFER FROM 420691347
6    6c821bb3-4fef-48ae-aa38-84db4be5a2a2                ...                                  THE SPRING OYSTER
7    9e8d5b44-86f8-4fbc-b820-a815ff0c2ac2                ...                     BANK FAST TRANSFER TO 63086689
8    a992656e-4675-4bb1-82ea-24d895cd9d31                ...                                              BONES
9    8cd28939-0102-4950-b561-c8b2bb8a3e89                ...                         THE VERY BEST CHICKEN RICE
10   f0c20a6b-2901-45c7-bcba-2a63634095b8                ...                                  JACK RIDE HAILING
11   2cabd6e9-5dc4-4e65-9537-9487a9af9eb4                ...                  BANK FAST TRANSFER FROM 638023204
12   0159b9b5-9952-49db-bb37-87378204ad5d                ...                    BANK FAST TRANSFER TO 522304026
13   b4a772a2-ded8-4957-81f4-b992d443f507                ...                       SUBER FAST TRANSPORT PTE LTD
14   84d95c11-a800-4c8f-9136-f19d6e8a7e08                ...                    BANK FAST TRANSFER TO 118897556
15   f8b5e33a-8c99-430b-a059-b2bd605f77b8                ...                                ATM CASH WTIHDRAWAL
16   3498ca8a-73a4-4169-a45f-1ffde3ac2eb5                ...                                  JACK RIDE HAILING
17   6167bfbd-ad3f-4d63-81a3-20f58aa11b1c                ...                         THE VERY BEST CHICKEN RICE
18   1d771832-c667-48bf-8472-9f9f9d04be05                ...                                    THE BURGER SHOP
19   4d1ed264-91c5-4b35-b281-3cb0239cd8fc                ...                  BANK FAST TRANSFER FROM 791102030
20   88404409-c65a-43e4-b793-22ec0b8057fc                ...                               THE OLIVE AFTER DARK
21   3bd752ba-91f5-4ccd-a9fc-b270410adc69                ...                                FAST-TREK TRANSPORT
22   c81bc82e-f99b-4a1b-a90f-48050801828f                ...                  BANK FAST TRANSFER FROM 506408939
23   86667536-9e46-4708-b538-2f373ca21d18                ...                                    THE BURGER SHOP
24   92dfc654-836b-4092-a24d-0ed347bd8f2d                ...                              CRAZY SPICY THAI FOOD
25   5e3941fb-aa8e-4cac-a709-b1a51baae6b2                ...                                  JACK RIDE HAILING
26   d17fcce0-6695-4e08-803f-227ec6d301f5                ...                                    THE PROUD TABLE
27   29cbab59-b855-4cda-bd1c-73ee1314f12d                ...                                FAST-TREK TRANSPORT
28   fbba9956-52e8-4094-b89f-8b8e11286775                ...                  BANK FAST TRANSFER FROM 214733407
29   bdd33047-4850-4f4e-8801-419e05e0aad1                ...                  BANK FAST TRANSFER FROM 409310906
..                                    ...                ...                                                ...
270  95b1fb20-79e5-4446-83fd-ce1984746f71                ...                               THE OLIVE AFTER DARK
271  940a6afd-4295-4b1c-a6b0-5368fee8909f                ...                  BANK FAST TRANSFER FROM 208921570
272  8132bc5a-5ad0-409a-86e7-ee6a7df96e6b                ...                                      THE SILK ROOM
273  0a131b22-1210-4f46-bda8-527416d4d131                ...                                  JACK RIDE HAILING
274  1888b146-8c53-4543-ae7f-5543ab2b55ff                ...                  BANK FAST TRANSFER FROM 164225165
275  999ce3c7-16f0-4718-a75a-183b9535e19b                ...                                   THE JADE ROOSTER
276  26b7b0dd-3c66-4d18-9409-111cdff8c486                ...                  BANK FAST TRANSFER FROM 857155197
277  92e6217a-352c-4e2c-9600-b41e0f0b7d1a                ...                              CRAZY SPICY THAI FOOD
278  c9f96d41-75ac-4376-9f67-447c280594c5                ...                    BANK FAST TRANSFER TO 549404578
279  3dd521f2-86d6-49ff-a9ef-1e0968476d38                ...                  BANK FAST TRANSFER FROM 568171077
280  cfd786be-ed23-432a-9d1e-ca23c1282238                ...                                  THE ORIGINAL GOAT
281  e04d36b8-e5f7-4455-bf85-1a55db762ac3                ...                    BANK FAST TRANSFER TO 763066276
282  2dcccb74-fecf-41ee-99b7-589a217e1ad3                ...                                ATM CASH WTIHDRAWAL
283  b3052a8e-427c-4473-b46b-baa885ba8484                ...                   BANK FAST TRANSFER FROM 61532501
284  b06de470-7d64-4ec7-a8f9-9a59745a08c9                ...                                  JACK RIDE HAILING
285  86bd783b-2ebd-448a-ae23-c8f4c390aec6                ...                  BANK FAST TRANSFER FROM 560198244
286  d4fd0db9-303e-494a-8656-39e980bff633                ...                        FLYING DUMPLINGS RESTAURANT
287  39310a97-88ff-4126-b4a0-e0bc82084950                ...                    BANK FAST TRANSFER TO 192827539
288  87cd2186-5843-4b70-a1f9-070deef5c22d                ...                                  THE ORIGINAL GOAT
289  88140136-fdd0-4f96-9f49-de44e0af5c3f                ...                       SUBER FAST TRANSPORT PTE LTD
290  593753c5-f13b-4ab8-aacf-781fb1ed176a                ...                   BANK FAST TRANSFER FROM 65723442
291  b9056154-5759-471c-a577-41e4dd629ae0                ...                   BANK FAST TRANSFER FROM 56267118
292  0fa52467-5114-4032-b6de-0c4560cc7420                ...                              CRAZY SPICY THAI FOOD
293  3d10aa2e-c2e0-4d6a-86f3-fc0334d5c499                ...                                THE VANILLA ORCHARD
294  44cf438c-5454-4b07-b9eb-dd036a17df8f                ...                  BANK FAST TRANSFER FROM 356217790
295  d597448a-bdd3-4bb9-a283-9826d2f1ad57                ...                                  THE SPRING OYSTER
296  9800e068-dffd-4be3-bee7-4f3d99c683e1                ...                  BANK FAST TRANSFER FROM 923456789
297  13f6ef39-f95b-42eb-8266-de88f885493d                ...                                FAST-TREK TRANSPORT
298  1e6170d3-cdde-4682-b452-4e8954c043d5                ...                    BANK FAST TRANSFER TO 727072192
299  610d2b29-c74e-4b37-9bf7-e21c6a0a1493                ...                                    THE BURGER SHOP

[300 rows x 7 columns]

In [520]:
mary_df.Month.value_counts()

1.0     74
7.0     45
5.0     44
11.0    41
6.0     40
10.0    39
9.0     38
3.0     38
12.0    37
4.0     35
2.0     32
8.0     31
Name: Month, dtype: int64

In [521]:
mary_df = mary_df.drop('Company', axis=1)
zeyang_df = zeyang_df.drop('Company', axis=1)

In [522]:
mary_df.head(3)

                          transactionId  accountId  ...      Year  Month
0  d1911856-60cc-48fb-aac7-f4cb2be6efba         10  ...    2018.0    1.0
1  6aa118cc-9e11-46ce-a420-d3197e1390e8         10  ...    2018.0    1.0
2  95cfe565-245e-448c-82af-7c4f03b2f36a         10  ...    2018.0    1.0

[3 rows x 6 columns]

In [523]:
for index, row in zeyang_df.iterrows():
    zeyang_df.loc[index, 'Period'] = str(zeyang_df.loc[index, 'Month']) + '/' + str(zeyang_df.loc[index, 'Year'])
    
for index, row in mary_df.iterrows():
    mary_df.loc[index, 'Period'] = str(mary_df.loc[index, 'Month']) + '/' + str(mary_df.loc[index, 'Year'])

In [524]:
zeyang_df.Period.value_counts()

3.0/2018.0     54
10.0/2018.0    54
5.0/2018.0     54
8.0/2018.0     53
6.0/2018.0     51
7.0/2018.0     48
4.0/2018.0     48
9.0/2018.0     47
11.0/2018.0    46
12.0/2018.0    46
1.0/2019.0     43
1.0/2018.0     41
2.0/2018.0     38
Name: Period, dtype: int64

In [525]:
out_mary_df = mary_df.loc[mary_df['new_amount']<0]
in_mary_df = mary_df.loc[mary_df['new_amount']>0]

out_zeyang_df = zeyang_df.loc[zeyang_df['new_amount']<0]
in_zeyang_df = zeyang_df.loc[zeyang_df['new_amount']>0]

In [526]:
in_mary_df = in_mary_df.groupby(['tag'])['new_amount'].sum()
out_mary_df = out_mary_df.groupby(['tag'])['new_amount'].sum()

in_zeyang_df = in_zeyang_df.groupby(['tag'])['new_amount'].sum()
out_zeyang_df = out_zeyang_df.groupby(['tag'])['new_amount'].sum()

in_mary_df = pd.DataFrame(in_mary_df)
out_mary_df = pd.DataFrame(out_mary_df)
in_zeyang_df = pd.DataFrame(in_zeyang_df)
out_zeyang_df = pd.DataFrame(out_zeyang_df)

In [527]:
out_mary_df.head()

           new_amount
tag
ATM          -2700.00
F&B          -2199.70
TRANSFER     -1377.00
TRANSPORT    -1167.82

In [528]:
in_mary_df = in_mary_df/13
out_mary_df = out_mary_df/13

in_zeyang_df = in_zeyang_df/13
out_zeyang_df = out_zeyang_df/13

In [529]:
out_mary_df, in_mary_df, in_zeyang_df, out_zeyang_df

(           new_amount
 tag
 ATM       -207.692308
 F&B       -169.207692
 TRANSFER  -105.923077
 TRANSPORT  -89.832308,           new_amount
 tag
 TRANSFER  931.503077,            new_amount
 tag
 TRANSFER  3372.537692,            new_amount
 tag
 ATM       -923.076923
 F&B       -611.286923
 TRANSFER   -69.070769
 TRANSPORT -224.879231)

In [530]:
out_mary_df

           new_amount
tag
ATM       -207.692308
F&B       -169.207692
TRANSFER  -105.923077
TRANSPORT  -89.832308

In [533]:
# for index, row in mary_df.iterrows():
#     mary_df.ix[index, 'new_amount'] = float(mary_df.iloc[index]['amount']*-1)
#     mary_df.ix[index, 'new_amount'] = float(mary_df.iloc[index]['amount'])
        
out_mary_df.ix[1,'Weightage'] = out_mary_df.ix[1,'new_amount']/(out_mary_df.ix[1,'new_amount']+out_mary_df.ix[3,'new_amount'])
out_mary_df.ix[3,'Weightage'] = out_mary_df.ix[3,'new_amount']/(out_mary_df.ix[1,'new_amount']+out_mary_df.ix[3,'new_amount'])
out_mary_df

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:5: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:6: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

           new_amount  Weightage
tag
ATM       -207.692308        NaN
F&B       -169.207692   0.653211
TRANSFER  -105.923077        NaN
TRANSPORT  -89.832308   0.346789

In [534]:
out_zeyang_df.ix[1,'Weightage'] = out_zeyang_df.ix[1,'new_amount']/(out_zeyang_df.ix[1,'new_amount']+out_zeyang_df.ix[3,'new_amount'])
out_zeyang_df.ix[3,'Weightage'] = out_zeyang_df.ix[3,'new_amount']/(out_zeyang_df.ix[1,'new_amount']+out_zeyang_df.ix[3,'new_amount'])
out_zeyang_df

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

           new_amount  Weightage
tag
ATM       -923.076923        NaN
F&B       -611.286923   0.731059
TRANSFER   -69.070769        NaN
TRANSPORT -224.879231   0.268941

In [535]:
in_mary_df

          new_amount
tag
TRANSFER  931.503077

In [536]:
in_zeyang_df

           new_amount
tag
TRANSFER  3372.537692